<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torta rogel</title>
</head>
<body>
    <h1>Receta para realizar rogel</h1>
    <p>Realiza este postre de origen arabe con adaptación argentina para disfrutar la tarde.</p>
    <hr>

    <h2>Ingredientes</h2>

    <h3>Para la Masa:</h3>
    <ul type="square">
<li>130g de manteca </li>
<li>4 yemas</li>
<li>600gr de harina 0000</li>
<li>200ml de agua</li>
<li>5gr de sal</li>
<li>10gr de azúcar</li>
    </ul>
    <h3>Para el merengue:</h3>
    <ul type="square">
<li>300gr de azúcar</li>
<li>4 clara</li>
    </ul>

<hr>
    <h2>Pasos a seguir:</h2>
    <ol>
       <li>En un bol colocar la harina junto con la sal y el azúcar, mezclar esto y continuar; hacer una corona con la harina y colocar ahí las yemas, el agua y la manteca derretida. Mezclar todo hasta formar una masa.</li> 
       <li>Volcar en la preparación en la mesada y amasar a mano por un minuto. Cubrir con papel film y dejar reposar por 1 hora.</li>
       <li>Pasado este tiempo, separar la masa en 8 o 10 partes, dependiendo de la cantidad de tapitas con las que quieras armar tu torta rogel. Con parte hacer un bollito y estirar de 2 a 3 ml. de espesor. </li>
       <li>Pueden colocar encima de la masa la base del molde en el que harán la torta para tener una referencia y cortarlos con esta forma. Tener en cuenta que la tapas se encogerán un poco.</li>
       <li>Colocar las masas cortadas en una placa para horno previamente enharinada y pinchar la superficie de la masa con un tenedor. Cocinar a 200 grados por 8 a 10 minutos, hasta que la tapa esté dorada.</li>
       <li>Una vez cocinadas las tapas comenzar con el armado: Untar cada tapa con dulce de leche repostero colocando la cantidad necesaria y por encima otra tapa y aplastamos ambas. Repetir la acción hasta completar todas las tapas.</li>
       <li>La última tapa no lleva dulce de leche.
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/D7jAApxJBLs" title="Torta ROGEL ✩ Que ricor!!! - Tan Dulce" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<hr>

    <a href="https://www.paulinacocina.net/torta-rogel/24963">Click para ver la receta original</a>
    <br>
    <a href="../Views/FideosConPesto.html">Link a receta de fideos con pesto</a>
    <br>
    <a href="../../Index.html">Volver a inicio</a>
    <br>
</body>
</html>