<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fideos con pesto</title>
</head>
<body>
    <h1>Receta para realizar fideos con pesto</h1>
    <p>Receta rápida y fácil para un plato clásico y rico. </p>
    <hr>
    <h2>Ingredientes</h2>
    <ul type="square">
        <li>500g de fideos tallarin</li>
        <li>160g de hojas de albahaca</li>
        <li>1Kg de hojas de espinaca</li>
        <li>1/2 taza de mantequilla</li>
        <li>3/4 taza de aceite de oliva</li>
        <li>4 dientes de ajo molidos</li>
        <li>150g de queso parmesano rallado</li>
        <li>150g gramos de nueces peladas molidas</li>
        <li>sal</li>
    </ul>
    <hr>
    <h2>Pasos a seguir:</h2>
    <ol type="1">
        <li>Cocine los tallarines en una olla con agua hirviendo por 10 minutos. Escurra</li>
        <li>Cocine por separado las hojas de albahaca y de espinaca en una olla con agua hirviendo por tres y dos minutos, respectivamente. Escúrralas y licúelas con la mantequilla, el aceite, el ajo, el queso y las nueces. Sazone con sal.</li>
        <li> Caliente la salsa pesto en una olla a fuego bajp removiendo por tres minutos.
        <li>Sirva los tallarines mezclados con la salsa (se puede agregar agua de cocción a la salsa)</li>
    </ol>
<hr>
    <a href="https://buenazo.pe/recetas/platos-de-fondofideos-pesto-receta-paso-paso-881">Click para ver la receta original</a>
    <br>
    <a href="../Views/TortaRogel.html">Enlace para una receta para el postre :)</a>
    <br>
    <a href="../../Index.html">Volver a inicio</a>
    <br>
</body>
</html>